.w-text {
    font-size: 25px;
    font-weight: bold;
    color: #02363D;
    margin-top: 90px;
}
.w-button {
    font-size: 22px;
    border: none; 
    border-radius: 5px; 
    background-color: #448E8D;
    color: #FFFFFF; 
    padding: 1px 113px;
    margin-top: 11px;
    margin-left: 100px;
}
button:disabled,button[disabled]{
    background-color: #ccc;
    cursor:not-allowed !important;
}
.list {
    margin-top: 50px;
}
.list h3 {
    font-size: 20px;
    color: #448E8D;
}